<!DOCTYPE html>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0
/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/
jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/
bootstrap.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<link rel="stylesheet" href="style.css">

<title>Template</title>

<html>
    <div id="head">
        <navbar :head="this"></navbar>
        <ad :a="this"></ad>
    </div>
</html>

<script>
Vue.component('navbar', {
    props: ['head'],
    template:
    `
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand titletext">
                        Template
                    </a>
            </div>
            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <ul class="nav navbar-nav" style="color:black;">
                    <li>
                        <a style="cursor: pointer;">

                        </a>
                    </li>
                    <li>
                        <a style="cursor: pointer;">

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    `
});

var a = {
    props: ['a'],
    template: '<b>{{ a.val }}</b>'
}

const router = new VueRouter({
    routes: [],
});

var head = new Vue ({router,
    el: '#head',
    data: {
        val: 'a'
    },
    methods: {

    },
    watch: {

    },
    created: function() {

    },
    components: {
        'ad': a
    }
});

</script>
