<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0
/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/
jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/
bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.15.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.1.1"></script>
<link rel="icon" href="https://smallfolio.bitnamiapp.com/flags/GLOBAL.PNG" type="image/x-icon"/>
<link rel="stylesheet" href="css/covid.css">
<title>COVID-19</title>
<html>
    <div id="head">
        <navbar :active="active"></navbar>
    </div>
    <div id="today" v-if="visible" v-cloak class="body">
        <today-display  :global_stats="globalStats"
                        :us_stats="usStats"
                        :global_confirmed="globalConfirmed"
                        :global_deaths="globalDeaths"
                        :us_confirmed="usConfirmed"
                        :us_deaths="usDeaths"
                        :last_update="lastUpdate"></today-display>
    </div>
    <div id="countries" v-if="visible" v-cloak class="body">
        <case-table :case_list="countries"
                    :sort_option="sortOption"
                    :col="'Country'"
                    :show_l="show_l"
                    :show_r="show_r"
                    :picked="picked"
                    :opt=this></case-table>
    </div>
    <div id="states" v-if="visible" v-cloak class="body">
        <case-table :case_list="states"
                    :sort_option="sortOption"
                    :col="'State'"
                    :show_l="show_l"
                    :show_r="show_r"
                    :picked="picked"
                    :opt=this></case-table>
    </div>
    <div id="single" v-if="visible" v-cloak class="body">
        <single-display :place="place"
                        :icon="icon"
                        :data="data"></single-display>
        <singlechart    :single="this"
                        :chart_loaded="chartLoaded"
                        :picked="picked"></singlechart>
    </div>
    <div class="footer">
        <noscript>You need to enable JavaScript to run this app.</noscript>
    </div>
</html>
<script src="scripts/functions.js"></script>
<script src="scripts/today.js"></script>
<script src="scripts/places.js"></script>
<script src="scripts/single.js"></script>
<script src="scripts/navigation.js"></script>
