<!DOCTYPE html>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0
/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/
jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/
bootstrap.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<link rel="stylesheet" href="quotes.css">
<link rel="icon" type="image/x-icon" href="http://iconsetc.com/icons-watermarks/simple-orange/broccolidry/broccolidry_glo
be/broccolidry_globe_simple-orange_512x512.png"/>

<title>Quotes</title>

<html>
    <div id="head">
        <navbar
            :head="this"
        ></navbar>
    </div>
    <div id="quotes" v-if="visible" v-cloak class="body">
        <quotebody
            :q="this"
        ></quotebody>
        <quoteslm
            :q="this"
        ></quoteslm>
    </div>
    <div id="authorquotes" v-if="visible" v-cloak class="body">
        <quotebody
            :q="this"
        ></quotebody>
        <quoteslm
            :q="this"
        ></quoteslm>
    </div>
    <div id="searchquotes" v-if="visible" v-cloak class="body">
        <quotebody
            :q="this"
        ></quotebody>
        <quoteslm
            :q="this"
        ></quoteslm>
    </div>
    <div id="authors" v-if="visible" v-cloak class="body">
        <authorsearch
            :a="this"
        ></authorsearch>
        <authorslm
            :loadingtext="loadingText"
        ></authorslm>
    </div>
    <div id="authorrelations" v-if="visible" v-cloak class="body">
        <relationbody
            :q="this"
            ></relationbody>
        <quoteslm
            :q="this"
        ></quoteslm>
    </div>
    <div class="footer">
        <a href="https://01mu.github.io/quotes">
            01mu.github.io/quotes
        </a>
    </div>
</html>

<script src="scripts/components/authors.js"></script>
<script src="scripts/components/common.js"></script>
<script src="scripts/components/authorrelations.js"></script>
<script src="scripts/components/head.js"></script>

<script src="scripts/vue/quotes.js"></script>
<script src="scripts/vue/authors.js"></script>
<script src="scripts/vue/authorquotes.js"></script>
<script src="scripts/vue/searchquotes.js"></script>
<script src="scripts/vue/authorrelations.js"></script>
<script src="scripts/vue/head.js"></script>
