body { overflow-y: scroll; line-height: 1.6; font-size: 22px;
  font-family: Georgia, serif; }
.body { white-space: wrap; text-overflow: ellipses; overflow: hidden;
  margin: 0 auto; max-width: 90%; }
.quote, .authorsearch {
  border-radius: 5px;
  border: 1px solid #4b4d52; padding: 20px; background-color: #f5f3ed;
  margin-bottom: 16px; }
.authorsearch:hover { background: #ebe8e6; }
.navborder { border-bottom: 1px solid grey; }
.active { background-color: #f0f0f0; }
.centered { text-align: center; margin-top: 16px; font-size: 16px; }
.overflow { overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; }
.author { font-size: 18px; margin-top: 10px; color: red;
  border-radius: 0px 0px 5px 5px;
  font-weight: bold; background-color: #ebe8e6; margin-left: -20px;
  margin-right: -20px; margin-bottom: -20px; padding: 8px; color: grey;
  margin-top: 16px; }
.logotext { color: #595454; font-size: 28px; }
.authortext { color: #595454;   }
.authortext:hover { text-decoration: underline; }
.alignleft { float: left; }
.alignright { float: right; }
.navpad { padding-bottom: 6px; padding-top: 6px; }
a {color: #000000;}
a:hover{ color: #000000; text-decoration: none; }
@media only screen and (max-width: 600px) {
  body { font-size: 16px; }
  .author { font-size: 16px; }
  .nav-link { text-align: center; padding: 20px; }
  .mbutton { width: 100%; }
  .nav-item { text-align: center; padding-top: 10px;
    padding-right: 20px; padding-left: 20px; }
  .sborder { margin-top: 6px; margin-bottom: 6px;
    border-bottom: 1px solid grey;}
  .favnav { margin-left: 0px; }
}
.nav-link .navicon { filter: opacity(33%); }
.active .navicon { filter: opacity(100%); }
.icon { filter: opacity(33%); cursor: pointer; }
.icon:hover { filter: opacity(100%); }
.favnav { margin-left: 8px; filter: opacity(33%); }
.active .favnav { margin-left: 8px; filter: opacity(100%); background-color: #ddded1; }
.nav-item, .nav-link .active { background-color: #ddded1; }
.flex { display: flex; }
.wrapper80 { width: 85%; }
.wrapper20 { width: 15%; }
