<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0
/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/
jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/
bootstrap.min.js"></script>
<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
<link rel="stylesheet" href="battles.css">
<title>Battles</title>
<html>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="title" class="navbar-brand title" v-on:click="goHome()">
                    Battles
                </a>
            </div>
            <div id="stats" v-if="visible" v-cloak>
                <ul class="nav navbar-nav">
                    <stat-header
                    v-for="stat in stats"
                    v-bind:stat="stat"
                    v-bind:key="stat.id"
                    ></stat-header>
                    <li class="stat" v-on:click="random()">
                        <a style="color: black;">random</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="body">
        <!--<div id="title">
            <div align="center" class="title" v-on:click="goHome()">
                Battles
            </div>
        </div>-->
        <div id="artistBattles" v-if="visible" v-cloak>
            <div class="row">
                <div class="col-sm-8">
                    <div class="artisttitle hideoverflow">
                        {{ artist }}
                    </div>
                    <div class="channeltitle hideoverflow">
                        {{ channel }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="stattitle">Battles: {{ info.battle_count }}</p>
                    <p class="stattitle">Views: {{ commas(info.battle_views) }}</p>
                    <p class="stattitle">Average: {{ commas(info.views_average) }}</p>
                    <p class="stattitle">Percentage: {{ info.views_percentage }}%</p>
                </div>
            </div>
            <div class="fz">
                <div class="row">
                    <div class="col-sm-6">Battle</div>
                    <div class="col-sm-3">Views</div>
                    <div class="col-sm-3">When</div>
                </div>
            </div>
            <div v-for="(battle, index) in battles" :key="battle"
                :class="{'r0': index % 2 === 0, 'r1': index % 2 !== 0 }">

                <div class="row artist-row"
                    v-on:click="loadBattle(battle.battle_id)">

                    <div class="col-sm-6 hideoverflow">{{ battle.vs_str }}</div>
                    <div class="col-sm-3">{{ commas(battle.views) }}</div>
                    <div class="col-sm-3">{{ since(battle.timestamp) }}</div>
                </div>
            </div>
        </div>
        <div id="artists" v-if="visible" v-cloak>
            <div class="fz">
                <div class="row">
                    <div class="col-sm-4">Artist</div>
                    <div class="col-sm-3">Views</div>
                    <div class="col-sm-3">Average</div>
                    <div class="col-sm-1">Battles</div>
                </div>
            </div>
            <div v-for="(artist, index) in artists" :key="artist"
                :class="{'r0': index % 2 === 0, 'r1': index % 2 !== 0 }">

                <div class="row artist-row"
                    v-on:click="artistBattles.getBattles(artist.name, artist.channel)">

                    <div class="col-sm-4">{{ artist.name }}</div>
                    <div class="col-sm-3">{{ commas(artist.battle_views) }}</div>
                    <div class="col-sm-3">{{ commas(artist.views_average) }}</div>
                    <div class="col-sm-1">{{ artist.battle_count }}</div>
                </div>
            </div>
            <div class="loadmore" v-on:click="loadMore">{{ loadingText }}</div>
        </div>
        <div id="battle" v-if="visible" v-cloak>
            <div class="row">
                <div class="col-sm-8">
                    <div class="artisttitle hideoverflow">
                        {{ battle.vs_str }}
                    </div>
                    <div class="channeltitle hideoverflow">

                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="stattitle">{{ commas(battle.views) }} views</p>
                    <p class="stattitle">{{ commas(battle.comments) }} comments</p>
                </div>
            </div>
        </div>
        <div id="yt"></div>
        <div style="margin-bottom: 25px;"></div>
    </div>
    <div class="footer">
        <a href="https://01mu.github.io/battles">
            01mu.github.io/battles
        </a>
    </div>
</html>
<script src="battles.js"></script>
