<!--
    battles-vue
    github.com/01mu
-->

<!DOCTYPE html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0
/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/
jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/
bootstrap.min.js"></script>
<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>

<style>
    body { background-color: #ffffff; overflow-y:scroll; }
    .title { color: #144dd1; font-weight: bold; font-size: 97px;
        font-family: "Georgia"; cursor: pointer; }
    .artisttitle { color: #000000; font-weight: bold; font-size: 45px;
        font-family: "Georgia"; cursor: pointer; }
    .channeltitle { color: #000000; font-weight: bold; font-size: 23px;
        font-family: "Georgia"; cursor: pointer; }
    .stattitle { color: #000000; font-size: 20px;
        font-family: "Georgia"; cursor: pointer; }
    .loadmore { margin-top: 5px; padding: 4px; background-color: #f2f3f4;
        cursor: pointer;}
    .fz { font-weight: bold; font-size: 15px; margin-bottom: 5px; }
    .body { margin: 0 auto; max-width: 800px; }
    .r0 { background-color: #fafafa; cursor: pointer;}
    .r1 { cursor: pointer; }
    .top { margin-top: 10px; font-size: 12px; border-bottom: solid;
        border-width: 1px; border-color: #eeeeee; padding-bottom: 10px;
        display: flex; }
    .stat {  margin-right: 5px; cursor: pointer; }
    .stat:hover { text-decoration: underline; }
    .artist-row { padding: 5px; }
    .r0:hover, .r1:hover, .loadmore:hover { background-color: #f2f2f2; }
    .hideoverflow { white-space: nowrap; overflow: hidden;
        text-overflow: ellipsis; }
    .lightborder { border-bottom: solid; border-width: 1px;
        border-color: #eeeeee; margin-bottom: 10px; }
</style>

<title>battles</title>

<html>
    <div class="body">
        <div id="stats" class="top">
            <div v-for="(stat, index) in stats" :key="stat">
                <div class="stat" v-on:click="changeChannel(stat.channel)">
                    [{{ stat.channel }}]
                </div>
            </div>
            &nbsp;
        </div>
        <div id="title">
            <div align="center" class="title" v-on:click="goHome()">
                battles
            </div>
        </div>
        <div id="artistBattles" v-if="visible">
            <div class="row">
                <div class="col-sm-8">
                    <div class="artisttitle hideoverflow">
                        {{ artist }}
                    </div>
                    <div class="channeltitle hideoverflow">
                        {{ channel }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <p class="stattitle">battles: {{ battle_count }}</p>
                    <p class="stattitle">views: {{ commas(views) }}</p>
                    <p class="stattitle">average: {{ commas(average) }}</p>
                    <p class="stattitle">percentage: {{ percentage }}</p>
                </div>
            </div>
            <div class="lightborder"></div>
            <div class="fz">
                <div class="row artist-row">
                    <div class="col-sm-6">battle</div>
                    <div class="col-sm-3">views</div>
                    <div class="col-sm-3">when</div>
                </div>
            </div>
            <div v-for="(battle, index) in battles" :key="battle"
                :class="{'r0': index % 2 === 0, 'r1': index % 2 !== 0 }">
                <div class="row artist-row" v-on:click="">
                    <div class="col-sm-6 hideoverflow">{{ battle.vs_str }}</div>
                    <div class="col-sm-3">{{ commas(battle.views) }}</div>
                    <div class="col-sm-3">{{ since(battle.timestamp) }}</div>
                </div>
            </div>
        </div>
        <div id="artists" v-if="visible">
            <div class="fz">
                <div class="row artist-row">
                    <div class="col-sm-4">artist</div>
                    <div class="col-sm-3">views</div>
                    <div class="col-sm-3">average</div>
                    <div class="col-sm-1">battles</div>
                </div>
            </div>
            <div v-for="(artist, index) in artists" :key="artist"
                :class="{'r0': index % 2 === 0, 'r1': index % 2 !== 0 }">
                <div class="row artist-row"
                    v-on:click="loadArtist(artist.name, artist.channel)">

                    <div class="col-sm-4">{{ artist.name }}</div>
                    <div class="col-sm-3">{{ commas(artist.battle_views) }}</div>
                    <div class="col-sm-3">{{ commas(artist.views_average) }}</div>
                    <div class="col-sm-1">{{ artist.battle_count }}</div>
                </div>
            </div>
            <div class="fz" align="center">
                <div class="loadmore" v-on:click="loadMore">{{ loadingText }}</div>
            </div>
        </div>
        <div style="margin-bottom: 30px;"></div>
    </div>
</html>

<script>
    var base = 'https://smallfolio.bitnamiapp.com/battles/';

    var title = new Vue({
        el: '#title',
        methods: {
            goHome: function () {
                artists.visible = true;
                artistBattles.visible = false;
                artistBattles.battles = [];
            }
        }
    })

    var stats = new Vue({
        el: '#stats',
        data: {
            stats: [],
        },
        methods: {
            changeChannel: function (channel) {
                artists.visible = true;
                artistBattles.visible = false;
                artistBattles.battles = [];
                artists.loadNewChannel(channel);
            }
        },
        created: function () {
            $.getJSON(base + 'stats', function (json){
                json.stats.forEach(function(item) {
                    stats.stats.push(item);
                });
            });
        }
    })

    var artists = new Vue({
        el: '#artists',
        data: {
            artists: [],
            counter: 0,
            loadingText: 'load more',
            toLoad: 'total',
            visible: true
        },
        methods: {
            loadArtist: function (artist, channel) {
                artists.visible = false;
                artistBattles.visible = true;
                artistBattles.getBattles(artist, channel);
            },
            loadNewChannel: function (channel) {
                artists.artists = [];
                artists.counter = 0;

                $.getJSON(base + 'artists/' + channel + '/' + artists.counter,
                    function (json){

                    json.artists.forEach(function(item) {
                        artists.artists.push(item);
                    });

                    artists.toLoad = channel;
                    artists.loadingText = 'load more';
                });
            },
            loadMore: function (event) {
                artists.counter++;
                artists.loadingText = 'loading...'

                $.getJSON(base + 'artists/' + artists.toLoad + '/' + artists.counter,
                    function (json){

                    json.artists.forEach(function(item) {
                        artists.artists.push(item);
                    });

                    artists.loadingText = 'load more'
                });
            }
        },
        created: function () {
            $.getJSON(base + 'artists/theurltv/0', function (json){
                json.artists.forEach(function(item) {
                  artists.artists.push(item);
                });
            });
        }
    })

    var artistBattles = new Vue({
        el: '#artistBattles',
        data: {
            artist: '',
            channel: '',
            battles: [],
            visible: false,
            battle_count: '',
            views: '',
            average: '',
            percentage: ''
        },
        methods: {
            getBattles: function (artist, channel) {
                artistBattles.artist = artist;
                artistBattles.channel = channel;

                $.getJSON(base + 'artist/' + channel + '/' + artist,
                    function (json){

                    var info = json.artist_info;

                    artistBattles.battle_count = info.battle_count;
                    artistBattles.views = info.battle_views;
                    artistBattles.average = info.views_average;
                    artistBattles.percentage = info.views_percentage;

                    json.artist_battles.forEach(function(item) {
                        artistBattles.battles.push(item);
                    });
                });
            }
        },
        created: function () {

        }
    })

    function commas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function since(date) {
        var seconds = Math.floor((new Date() /1000  - date));
        var interval = Math.floor(seconds / 31536000);

        if (interval > 1) {
            return interval + " years ago";
        }

        interval = Math.floor(seconds / 2592000);

        if (interval > 1) {
            return interval + " months ago";
        }

        interval = Math.floor(seconds / 86400);

        if (interval > 1) {
            return interval + " days ago";
        }

        interval = Math.floor(seconds / 3600);

        if (interval > 1) {
            return interval + " hours ago";
        }

        interval = Math.floor(seconds / 60);

        if (interval > 1) {
            return interval + " minutes ago";
        }

        return Math.floor(seconds) + " seconds ago";
    }

</script>
