body { background: #ff; font-size: 18px; background-color: #ffffff;
  overflow-y: scroll; }
a { cursor: pointer; color: black; text-decoration: none; }
[v-cloak] { display: none; }
.nav_selection { cursor: pointer; }
.nav_selection:hover { background-color: #f2f2f2; }
.body { margin: 0 auto; max-width: 800px; }
.bigger { margin: 0 auto; max-width: 90%; }
.flex { display: flex; }
.footer { margin: 20px; text-align: center; }
.navbar-static-top { border-color: #b8b2b2; }
.selected { font-weight: bold }
.bgselected { background-color: #f7f7f7; }
.not_selected { font-weight: normal }
.smargin { margin-bottom: 12px; margin-top: 12px; }
.smargin2 { margin-bottom: 3px; margin-top: 3px; }
.boldtitle { font-weight: bold; text-align: center; }
.flagmargin { margin-bottom: 6px; }
.lbox {  padding: 15px; }
.box { text-align: center; padding: 15px; }
.newsbox {  padding: 5px; font-size: 16px; }
.boxn { padding: 20px;}
.overflow { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.wrapper50 { width: 50%;}
.wrapper25 { width: 25%;}
.wrapper33 { width: 33%;}
.smalltext { text-align: center; font-size: 14px; margin-bottom: 8px; }
.navborder { border-bottom: 1px solid #ab0a12; }
.centered { text-align: center; }
.active { border-bottom: solid 3px red; background-color: #ebdde1; }
.navpad { padding-top: 12px; padding-bottom: 12px; text-align: center; }
.box, .boxn, .lbox, .newsbox {
  border-radius: 5px;
  background: #fcfcfc;
  border: 1px solid #ab0a12;
  margin-bottom: 15px;
  margin-left: 16px;
  margin-right: 16px; }
.wrapper25, .wrapper50 {
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.boxheader {
  border-radius: 5px 5px 0px 0px;
  background: #fcfcfc;
  border: 1px hidden;
  border-bottom: 1px solid #ab0a12;
  background-color: #f2ebeb;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px; }
@media only screen and (max-width: 600px) {
  body { font-size: 16px; }
  .bigger { max-width: 100%;  }
  .navpad { padding-top: 12px; padding-bottom: 12px; text-align: center; }
}
.nav-item { font-weight: bold; }
.figure { font-weight: bold; color: #5c5c5c; }
