body { font-size: 18px; overflow-y: scroll; font-family: 'Open Sans', sans-serif; }
.body, .heatmap { margin: 0 auto; max-width: 800px; }
.box { border: 1px solid #bec3cc; padding: 8px; border-radius: 5px;
  margin-top: 16px; background-color: #fafafa}
.mbottom { margin-bottom: 16px; }
.flex { display: flex; }
.coinheader { text-align: left; font-weight: bold; padding: 10px;
  margin-bottom: 10px; border-bottom: solid 1px #ccc; }
.searchborder { margin-top: 16px; border-bottom: solid 1px #ccc; }
.hmtable { table-layout: fixed; width: 100%; }
.wrapper100 { width: 100%; }
.wrapper90 { width: 97%; }
.wrapper75 { width: 75%; margin-right: 10px; }
.wrapper50 { width: 50%; }
.wrapper33 { width: 33%; }
.wrapper33e { width: 33%; text-align: right; }
.wrapper25 { width: 25%; }
.wrapper5 { width: 5%; }
.wrapper7 { width: 7%; }
.wrapper9 { width: 9%; }
.wrapper40 { width: 40%; }
.wrapper20 { width: 20%; }
.wrapper25 { width: 25%; }
.wrapper60 { width: 60%; }
.wrapper30 { width: 30%; }
.wrapper10 { width: 10%; }
.wrapper15 { width: 15%; }
.wrapper6p5 { width: 6.5%; }
.wrapper33 { width: 33%; }
.wrapper12 { width: 12.5%; }
.bizl, bizr { width: 25%; }
.bigger { margin: 0 auto; max-width: 90%; }
.overflow { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.coinpadding { padding-top: 8px; padding-bottom: 8px; }
.perfheader { text-align: center; font-weight: bold; padding: 10px;
  margin-bottom: 10px; border-bottom: solid 1px #ccc; }
.centerns { text-align: center; margin-top: 16px; }
.centersm { font-size: 56px; margin-bottom: 16px; }
.hm, { margin: 0 auto; max-width: 90%;  }
.singlebody { margin: 0 auto; max-width: 95%;  }
.ave { text-align: center; }
.tb { table-layout: fixed; width: 100%; }
.singleinfo { border-bottom: 1px solid #bec3cc; padding: 5px;
  text-align: center; font-size: 16px; }
.navborder { border-bottom: 1px solid #cfcfcf; }
.active { border-bottom: solid 0px blue; background-color: #f0f0f0; }
.navpad { padding-top: 12px; padding-bottom: 12px; }
tr:hover, .coinpadding:hover, .bizpostbox:hover {
    background-color: #fafafa; }
.centered { text-align: center; }
.singlebutton { width: 100%; margin-bottom: 4px; }

.singlebordertop, .singlebordertophide { border-top: 1px solid #bec3cc; }

@media only screen and (max-width: 600px) {
  .portfoliobottom { margin: 0 auto; max-width: 85% }
  .heatmap { width: 85%; }
  body, .body { font-size: 16px; }
  .body { font-size: 16px; margin-right: 16px; margin-left: 16px; }
  .centersm { text-align: center; font-size: 40px; }
  .bigger { max-width: 100%; margin-right: 0px; margin-left: 0px; }
  .hm { max-width: 90%; margin-right: 8px; margin-left: 8px; }
  .singlebody { margin: 0 auto; max-width: 90%; }
  .wrapper5 { width: 10%; }
  .wrapper25 { width: 45%; }
  .wrapper10 { width: 50%; text-align: center; }
  .fm { margin-left: -2px; margin-right: -2px; }
  .bizl, .bizr { width: 50%; }
  .bizl { margin-left: 8px; }
  .bizr { text-align: center; }
  .singlebordertophide { border-top: 0px;  }
}
.aligned { display: flex; }
.dropdown-item:hover { cursor: pointer; }centersm
.smalltext { font-size: 16px; }
.boldfont { font-weight: bold; }
.nav-item { font-size: 16px; font-weight: bold; color: grey; }
.bizpostbox { border-radius: 5px;
  border: solid 1px #ccc; margin-bottom: 12px; padding: 12px; }
.centeralign { text-align: center; }
.viewposts { font-weight: bold; }
.greytext { color: grey; }
.figure { font-weight: bold; color: #5c5c5c; }

.singlebox { border-radius: 5px;
  border: solid 1px blue; margin-top: 16px; padding: 16px; }
.marketinfo { padding: 10px;
  text-align: left; }
.markettitle { padding: 16px; background-color: #fafafa;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  margin-bottom: 8px;cur
  border-bottom: solid 1px blue;
  border-radius: 5px 5px 0px 0px;
  text-align: center; }
.athpointl { text-align: left; }
.athpointr { text-align: right; }
.athbox { padding: 6px; border: solid 1px #ccc; border-bottom: solid 0px #ccc; }
.lastupdated { text-align: center; font-size: 16px; color:
  grey; margin-top: 16px; }

.recentcoin, .recentcoinsel { border-bottom: 1px solid #bec3cc; padding: 5px;
  text-align: center; font-size: 16px; }

.recentcoinsel { background-color: #f2f8ff; }
.portfoliotr td { vertical-align:bottom; }
.singletitle { background-color: #fafafa; }


.navinfoicon { filter: opacity(33%); }
.navinfotext { color: #5c5c5c; }

.aboutheader { text-align: center; font-weight: bold; color: #5c5c5c; }
.subnav { background-color: #f2f8ff; font-size: 14px;
  overflow: auto; border-bottom: 1px solid #cfcfcf; padding: 5px;
  white-space: nowrap;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.subnav:hover {
cursor: default;
}

.subnav::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.subnavflex { display: flex; }
.subnav50r, .subnav50l { width: 50%; }
.subnav50r { margin-right: 10px; text-align: right; }
.subnav50l { margin-left: 10px; text-align: left; }

@media only screen and (max-width: 600px) {
.subnavflex { display: contents; }
.subnav50r, .subnav50l { display: contents; }
.subnav50r { }
.subnav50l {  }
}
